.eng
taskmate-backend/node_modules
taskmate-frontend/node_modules
taskmate-backend/config/serviceAccountKey.json
taskmate-backend/.env
taskmate-frontend/.env.local
taskmate-frontend/.next/app-build-manifest.json
taskmate-frontend/.next/build-manifest.json
taskmate-frontend/.next/package.json
taskmate-frontend/.next/react-loadable-manifest.json
taskmate-frontend/.next/trace
taskmate-frontend/.next/cache/webpack/client-development/0.pack.gz
taskmate-frontend/.next/cache/webpack/client-development/1.pack.gz
taskmate-frontend/.next/cache/webpack/client-development/index.pack.gz
taskmate-frontend/.next/cache/webpack/client-development/index.pack.gz.old
taskmate-frontend/.next/cache/webpack/server-development/0.pack.gz
taskmate-frontend/.next/cache/webpack/server-development/index.pack.gz
taskmate-frontend/.next/cache/webpack/server-development/index.pack.gz.old
taskmate-frontend/.next/server/app-paths-manifest.json
taskmate-frontend/.next/server/interception-route-rewrite-manifest.js
taskmate-frontend/.next/server/middleware-build-manifest.js
taskmate-frontend/.next/server/middleware-manifest.json
taskmate-frontend/.next/server/middleware-react-loadable-manifest.js
taskmate-frontend/.next/server/next-font-manifest.js
taskmate-frontend/.next/server/next-font-manifest.json
taskmate-frontend/.next/server/pages-manifest.json
taskmate-frontend/.next/server/server-reference-manifest.js
taskmate-frontend/.next/server/server-reference-manifest.json
taskmate-frontend/.next/server/webpack-runtime.js
taskmate-frontend/.next/server/app/page_client-reference-manifest.js
taskmate-frontend/.next/server/app/page.js
taskmate-frontend/.next/server/vendor-chunks/@swc.js
taskmate-frontend/.next/server/vendor-chunks/next.js
taskmate-frontend/.next/static/chunks/app-pages-internals.js
taskmate-frontend/.next/static/chunks/main-app.js
taskmate-frontend/.next/static/chunks/polyfills.js
taskmate-frontend/.next/static/chunks/webpack.js
taskmate-frontend/.next/static/chunks/app/layout.js
taskmate-frontend/.next/static/chunks/app/page.js
taskmate-frontend/.next/static/development/_buildManifest.js
taskmate-frontend/.next/static/development/_ssgManifest.js
taskmate-frontend/.next/static/webpack/633457081244afec._.hot-update.json
taskmate-frontend/.next/types/package.json
taskmate-frontend/.next/types/app/layout.ts
taskmate-frontend/.next/types/app/page.ts
